<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<!-- ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < NO -->

<!-- Help text: * http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html -->

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd HH:mm:ss,SSS}\t[%-5p]\t[%-13c{1}]\t%m\t\t( (%F:%L)%M)%n" />
			<!--<param name="ConversionPattern" value="%d\t[%-5p]\t[%-13c]\t%m\t\t( 
				(%F:%L)%M)%n" /> -->
			<!-- <param name="ConversionPattern" value="%d [%-5p] [%C.%M] [%F:%L] 
				-> [%m]%n" /> -->
		</layout>
	</appender>
	<logger name="org.alder.fotobuchconvert.scribus.RtfToScribusConverter">
		<level value="info" />
	</logger>
	<logger name="org.alder.fotobuchconvert.scribus.ScribusWriter">
		<level value="info" />
	</logger>
	<logger name="org.alder.fotobuchconvert.ifolor.Decryptor">
		<level value="info" />
	</logger>
	<logger name="org.alder.fotobuchconvert.ifolor.IfolorLoader">
		<level value="debug" />
	</logger>
	<root>
		<!-- <priority value="debug" /> -->
		<priority value="trace" />
		<!-- <appender-ref ref="FILE" /> -->
		<appender-ref ref="console" />
	</root>
</log4j:configuration>